@charset "UTF-8";
/**********************************
Description...: screen sass
Author........: hello@satur9.co.uk
Last Changed..: 2020-05-10 14:41:07 +0100 - v1.0
Notes #1......:
*********************************/
.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}
.edge--both:before, .edge--both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}
.edge--both:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 0;
}

/******************
Layout**/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: helvetica,arial,sans-serif;
  font-size: 100%;
  text-align: center;
  cursor: default;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container, .cont-header, .cont-nav, .cont-footer {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
}

.cont-header, .cont-nav, .cont-footer {
  padding: 30px 0;
}

@font-face {
  font-family: 'khakiregular';
  src: url("../data/fonts/khaki-one-webfont.eot");
  /*IE9 Compat Modes, ditch*/
  src: url("../data/fonts/khaki-one-webfont.eot?#iefix") format("embedded-opentype"), url("../data/fonts/khaki-one-webfont.woff2") format("woff2"), url("../data/fonts/khaki-one-webfont.woff") format("woff"), url("../data/fonts/khaki-one-webfont.ttf") format("truetype"), url("../data/fonts/khaki-one-webfont.svg#khakiregular") format("svg");
  /*Legacy iOS, ditch*/
}
article, aside, details, figcaption, figure, figcaption, footer, header, menu,
nav, section, video {
  display: block;
}

h2, h3, h4, h5, h6 {
  font-family: 'khakiregular';
}

img {
  vertical-align: middle;
}

svg {
  border: 1px solid red;
}

/*make svg <img>s fluid in IE */
img.svg, object.svg {
  width: 100%;
}

/******************
Skipto's**/
#top-link a {
  display: none;
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
  font-size: 1em;
  padding: 14px;
  background-color: #231f20;
  border-top-left-radius: 10px;
}

.skip a {
  position: absolute;
  left: -9999px;
}
.skip a:focus, .skip a:active {
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  text-align: center;
  font-size: 0.8em;
  padding: 6px 0;
  outline: none;
}

/******************
Logo Area**/
#header {
  width: 100%;
}
#header .cont-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#header .cont-header div {
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
#header h1 {
  position: absolute;
  left: -9999px;
}

/******************
Quick Links**/
.quick-links {
  text-align: right;
}
.quick-links p {
  font-size: 1.1em;
  line-height: 1.4em;
}
.quick-links p a.tel {
  font-size: 1.4em;
}
.quick-links .social a {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 6px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.quick-links .social a.sc-fb {
  background-image: url(../img/svg/icon-facebook.svg);
}
.quick-links .social a.sc-tw {
  background-image: url(../img/svg/icon-twitter.svg);
}
.quick-links .social a.sc-in {
  background-image: url(../img/svg/icon-instagram.svg);
}
.quick-links .social a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.quick-links .social a span {
  position: absolute;
  left: -9999px;
}
.quick-links a:link, .quick-links a:visited {
  color: #bcbdc0;
}
.quick-links a:hover, .quick-links a:active, .quick-links a:focus {
  color: #231f20;
}

/******************
Navigation**/
#nav {
  width: 100%;
  background-color: #bcbdc0;
  /*drop-downs*/
  /*RESPONSIVE BUTTONs*/
}
#nav ul li {
  z-index: 999;
  float: left;
  position: relative;
  list-style: none;
  text-align: center;
  font-size: 1.05em;
}
#nav ul li a {
  float: left;
  color: #000;
  padding: 14px 30px;
  text-decoration: none;
  border-right: 1px solid #d6d7d9;
  /*&:not(:last-child) {
  border-right:1px solid #666;
  }*/
}
#nav ul li > a:hover, #nav ul li.selected > a,
#nav ul li.current-menu-item > a,
#nav ul li a:active, #nav ul li a:focus,
#nav ul li:hover {
  color: #fff;
  background-color: #c61017;
}
#nav ul li.selected > a:hover {
  color: #fff;
}
#nav ul li ul {
  display: none;
  z-index: 99;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #231f20;
  background: -webkit-linear-gradient(top, #594f51 0%, #231f20 100%);
  background: linear-gradient(to bottom, #594f51 0%, #231f20 100%);
  border-top: 3px solid #c61017;
}
#nav ul li ul li {
  text-align: left;
  font-size: 1em;
  letter-spacing: normal;
}
#nav ul li ul li a {
  min-width: 200px;
  color: #fff;
  padding: 10px 30px;
  border: 0;
}
#nav ul li:hover ul {
  display: block;
}
#nav #pull {
  display: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding: 10px 0;
  background: #231f20 url(../img/icon-nav.png) 94% 50% no-repeat;
}
#nav #pull.clozed {
  background-image: url(../img/icon-nav-closed.png);
}
#nav .mobnav-subarrow {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: #231f20 url(../img/icon-nav.png) 50% 50% no-repeat;
}
#nav .mobnav-subarrow.clozed {
  background-image: url(../img/icon-nav-closed.png);
}
#nav .nav, #nav #navslide {
  display: none;
}

/******************
Main Content**/
#main-content_holder {
  color: #87898f;
}

.split-col .main-content {
  width: 620px;
}

.split-col #aside {
  width: 240px;
}

.main-content {
  float: left;
  width: 1240px;
  padding: 20px;
  /*tables*/
  /*labelled imgs*/
}
.main-content h2 {
  color: #ed1c24;
  font-size: 1.7em;
  margin: 0 0 14px;
}
.main-content h2 span {
  color: #600;
}
.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-size: 1.4em;
  margin: 30px 0 14px;
}
.main-content p {
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 0 14px;
}
.main-content p.intro {
  font-size: 1.1em;
  line-height: 1.3em;
}
.main-content ul, .main-content ol, .main-content dl {
  margin: 0 0 14px;
}
.main-content ul li, .main-content ol li, .main-content dl li {
  list-style: disc;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 0 0 20px;
}
.main-content ol li {
  list-style: decimal;
  margin: 0 0 0 30px;
}
.main-content dl dt {
  font-size: 0.9em;
  font-weight: 700;
  margin: 10px 0 0;
}
.main-content dl dd {
  list-style: disc;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 0 0 20px;
}
.main-content img {
  float: right;
  margin: 0 0 20px 20px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #bcbdc0;
}
.main-content img.basic, .main-content img.alignnone {
  float: none;
  margin: 20px 0;
}
.main-content img.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}
.main-content img.skew {
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}
.main-content a:link, .main-content a:visited {
  text-decoration: none;
  text-decoration: underline dashed #4c4345;
}
.main-content table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.main-content table td, .main-content table th {
  vertical-align: top;
  min-width: 100px;
  font-size: 0.9em;
  padding: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main-content table th {
  color: #fff;
  font-size: 1em;
  background-color: #ed1c24;
}
.main-content table td h3 {
  margin: 0;
}
.main-content table td p {
  font-size: 1em;
  margin: 0;
}
.main-content table td img {
  float: none;
  margin: 0;
  padding: 0;
}
.main-content .figure {
  float: right;
  width: 300px;
  margin: 0 0 24px 24px;
  padding: 20px;
  background-color: #41ade5;
  position: relative;
  z-index: 1;
}
.main-content .figure:before, .main-content .figure:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.main-content .figure:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}
.main-content .figure:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}
.main-content .figure figcaption {
  float: right;
  clear: both;
  /*IE Needs me*/
  width: 300px;
  /*IE Needs me*/
  text-align: right;
  color: #ed1c24;
  font-size: 0.8em;
  font-style: normal;
  margin: 4px;
}
.main-content .figure img {
  width: 300px;
  margin: 0;
}

/******************
SVGs**/
.icon-svg {
  overflow: hidden;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: pink;
  stroke: coral;
  stroke-width: 5%;
  stroke-linejoin: round;
}

.svg-icon-01 {
  fill: green;
}

.ic-2 {
  fill: #FDC646;
}

svg path {
  fill: inherit;
}

.codrops-1 {
  fill: #4BC0A5;
  color: #A4DFD1;
}

.codrops-2 {
  fill: #0099CC;
  color: #7FCBE5;
}

.codrops-3 {
  fill: #5F5EC0;
  color: #AEAFDD;
}

/******************
Buttons**/
.btn a {
  float: left;
  font-size: 1em;
  text-align: center;
  padding: 4px 16px 8px;
  margin: 10px 0;
  background-color: #ed1c24;
  background: -webkit-linear-gradient(top, #f14b52 0%, #ed1c24 100%);
  background: linear-gradient(to bottom, #f14b52 0%, #ed1c24 100%);
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.btn a:link, .btn a:visited {
  color: #fff;
  border: 0;
  /*ovr*/
}
.btn a:hover {
  background-color: #f14b52;
  box-shadow: none;
  padding-bottom: 8px;
  /*ovr*/
}
.btn a:active, .btn a:focus {
  background-color: #ed1c24;
  background: -webkit-linear-gradient(top, #c61017 0%, #ed1c24 100%);
  background: linear-gradient(to bottom, #c61017 0%, #ed1c24 100%);
}

/******************
Contact Form**/
#contact-form, .wpcf7 {
  /**validation**/
}
#contact-form *, .wpcf7 * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form legend, .wpcf7 legend {
  color: #fff;
  font-size: 1.4em;
  padding: 6px 10px 4px;
  background-color: #ed1c24;
}
#contact-form fieldset, .wpcf7 fieldset {
  position: relative;
  padding: 30px;
  margin: 0 0 30px;
  border: 1px solid #bcbdc0;
}
#contact-form p, .wpcf7 p {
  clear: left;
  margin: 0 0 20px;
}
#contact-form ul li, .wpcf7 ul li {
  float: left;
  width: 50%;
  list-style: none;
  margin: 0 0 14px 0;
  padding: 0 10px;
}
#contact-form ul li.full, .wpcf7 ul li.full {
  width: 100%;
}
#contact-form ul li.clear-left, .wpcf7 ul li.clear-left {
  clear: left;
}
#contact-form label, .wpcf7 label {
  cursor: pointer;
  display: block;
  font-weight: 700;
}
#contact-form input, .wpcf7 input {
  border: 1px solid #bcbdc0;
}
#contact-form input[type="text"], #contact-form input[type="tel"], #contact-form input[type="email"], #contact-form input[type="url"], #contact-form input[type="file"], .wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 input[type="url"], .wpcf7 input[type="file"] {
  width: 100%;
  font-family: inherit;
  font-size: 1em;
  padding: 10px;
  margin-bottom: 3px;
  background-color: #eee;
}
#contact-form input:focus, .wpcf7 input:focus {
  background-color: #fff;
  border-color: #0c0;
}
#contact-form input::placeholder, .wpcf7 input::placeholder {
  opacity: 0;
  color: #bcbdc0;
}
#contact-form input[type="submit"], .wpcf7 input[type="submit"] {
  cursor: pointer;
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 16px 30px;
  background-color: #c61017;
  border: 0;
}
#contact-form input[type="submit"]:hover, #contact-form input[type="submit"]:active, #contact-form input[type="submit"]:focus, .wpcf7 input[type="submit"]:hover, .wpcf7 input[type="submit"]:active, .wpcf7 input[type="submit"]:focus {
  background-color: #970c11;
}
#contact-form select, .wpcf7 select {
  width: 100%;
  font-size: 1em;
  padding: 10px;
  border: 1px solid #bcbdc0;
}
#contact-form textarea, .wpcf7 textarea {
  resize: vertical;
  font-family: inherit;
  width: 100%;
  height: 150px;
  font-size: 1em;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #bcbdc0;
}
#contact-form textarea:focus, .wpcf7 textarea:focus {
  background-color: #fff;
  border-color: #0c0;
}
#contact-form textarea::placeholder, .wpcf7 textarea::placeholder {
  opacity: 0;
  color: #bcbdc0;
}
#contact-form .options label, .wpcf7 .options label {
  float: left;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 30px;
}
#contact-form .options label.intro, .wpcf7 .options label.intro {
  cursor: default;
  float: none;
  width: 100%;
  font-weight: 700;
  margin-left: 0;
  margin-bottom: 10px;
}
#contact-form .options input[type="checkbox"], #contact-form .options input[type="radio"], .wpcf7 .options input[type="checkbox"], .wpcf7 .options input[type="radio"] {
  float: left;
  margin: 4px 0 0;
}
#contact-form table, .wpcf7 table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}
#contact-form table td, #contact-form table th, .wpcf7 table td, .wpcf7 table th {
  vertical-align: top;
  padding: 8px;
}
#contact-form table th, .wpcf7 table th {
  font-size: 1em;
}
#contact-form table input[type="text"], .wpcf7 table input[type="text"] {
  margin-bottom: 0;
}
#contact-form table textarea, .wpcf7 table textarea {
  height: 150px;
}
#contact-form span.LV_valid, #contact-form [aria-invalid=false], .wpcf7 span.LV_valid, .wpcf7 [aria-invalid=false] {
  color: #47bf4c;
}
#contact-form span.LV_invalid, #contact-form [aria-invalid=true], .wpcf7 span.LV_invalid, .wpcf7 [aria-invalid=true] {
  color: #d6492a;
}

/******************
Aside**/
#aside {
  float: right;
  padding: 20px;
  background-color: #ada;
}

/******************
Footer**/
#footer {
  float: left;
  position: relative;
  width: 100%;
  text-shadow: 1px 1px #000;
  background-color: #666;
}
#footer p {
  text-align: left;
  color: #ccc;
  font-size: 0.9em;
}
#footer ul {
  margin: 10px 0;
}
#footer ul li {
  float: left;
  list-style: none;
  font-size: 0.9em;
  padding: 0 0 0 6px;
  margin: 0 6px 0 0;
  border-left: 1px solid #ccc;
}
#footer ul li:first-child {
  padding: 0;
  border: 0;
}
#footer a:link, #footer a:visited {
  color: #bcbdc0;
}
#footer #❤ {
  position: absolute;
  top: 20px;
  right: 0;
  float: left;
  overflow: hidden;
  width: 160px;
  height: 28px;
  background-color: #000;
}
#footer #❤ span {
  position: absolute;
  left: -9999px;
}

/******************
Global Styles**/
.line, hr {
  clear: both;
  height: 1px;
  font-size: 0;
  margin: 30px 0;
  border-bottom: 1px solid #bcbdc0;
}

.clearing {
  clear: both;
}

.error {
  color: #f00;
}

.win {
  color: #090;
}

.hide {
  position: absolute;
  left: -9999px;
}

.remove {
  margin: 0;
  padding: 0;
  border: 0;
}

.tiny {
  font-size: 0.7em;
}

.no-function {
  pointer-events: none;
}

.webkit-blurry-fix {
  box-shadow: 0 0 1px transparent;
}

.nice-scrolly-area {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

q {
  font-style: italic;
  display: block;
}

address {
  font-style: normal;
}

acronym, abbr {
  cursor: help;
  border-bottom: 1px dotted #000;
}

/******************
Media**/
iframe, video {
  margin: 20px 0;
  border: 1px solid #888;
}

.embed-container {
  position: relative;
  overflow: hidden;
  width: 728px;
  height: 410px;
  max-width: 100%;
  margin: 30px 0;
}
.embed-container iframe, .embed-container object, .embed-container embed, .embed-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
}

audio {
  width: 100%;
  margin: 20px 0;
}

/******************
Blockquotes**/
blockquote {
  font-size: 1.4em;
  quotes: "“" "”" "‘" "’";
  margin: 20px 0;
  padding: 20px 10px 0;
  background-color: #f9f9f9;
  border-left: 10px solid #ccc;
}
blockquote:before, blockquote:after {
  content: open-quote;
  font-size: 4em;
  color: #696;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote:before {
  margin-right: 4px;
}
blockquote:after {
  content: close-quote;
  vertical-align: -0.6em;
  margin-left: 4px;
}
blockquote footer {
  clear: left;
  font-size: 0.75em;
}
blockquote p, blockquote footer {
  display: inline;
}

/******************
Links + slectors**/
a:link, a:visited {
  color: #ed1c24;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active, a:focus {
  /*outline:none;*/
  color: #000;
  background-color: #ff0;
  text-decoration: underline;
}

:focus:not(:focus-visible) {
  outline: none;
}

a.pdf {
  padding-right: 14px;
  background: url(../img/icon-pdf.gif) no-repeat 100% 50%;
}

a.ext {
  padding-right: 14px;
  background: url(../img/icon-ext.png) no-repeat 100% 2px;
}

a[href$=".pdf"]:after {
  content: "(PDF document)";
}

::selection {
  background-color: #ff0;
  color: #000;
}

::-moz-selection {
  background-color: #ff0;
  color: #000;
}

input[type="text"]:disabled {
  background-color: #ccc;
}

input:checked {
  border: 1px solid #090;
}

.no-svg .icon-only:after {
  content: attr(aria-label);
}

button {
  font-size: 1.25em;
}

button:only-of-type {
  font-size: 2em;
}

button:not(:only-of-type) {
  font-size: 2em;
}

/******************
Crazy bg effts**/
.svg-img {
  background-image: image("foo.svg#xywh=0,0,200,50");
}

.gradient-img {
  background-image: conic-gradient(#f00, #0f0, #00f);
}

/******************
Clearfix**/
.clearfix:after {
  visibility: hidden;
  display: block;
  clear: both;
  content: ".";
  font-size: 0;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/*IE6*/
*:first-child + html .clearfix {
  zoom: 1;
}

/*IE7*/
/******************
Fallbacks**/
@supports not (display: grid) {
  body {
    background-color: green;
  }
}

/*# sourceMappingURL=style.css.map */
