/**********************************
Description...:CSS condition file for IE8
Last Changed..:04-04-2011
Notes #1......:Fixes for IE8 quirks
**********************************/
.clearfix {display:inline-block;}

.main-content .figure cite {filter:alpha(opacity=70);}
.main-content .figure {filter:progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540);}
#footer {background:transparent;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr=#99000050,endColorstr=#99000050);zoom:1;}

ie8-trans {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}

#top {
display:table; /*use display:table instead of flex for IE*/ 
}
