/**********************************
Description...:screen sass
Author........:hello@satur9.co.uk
Last Changed..:27-03-2016 / #{timestamp()}
Notes #1......:
*********************************/

@import "variables.scss";
@import "mixins.scss";

/******************
Layout**/
* {padding:0;margin:0;border:0;}
body {
font-family:helvetica,arial,sans-serif;
font-size:100%;
text-align:center;
cursor:default;
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}
.container, .cont-header, .cont-nav, .cont-footer {
position:relative;
width:1280px;
margin:0 auto;
text-align:left;
background:#ddd;
}
.cont-header, .cont-nav, .cont-footer {
padding:30px 0;
background:none;
}
@font-face {
font-family:'khakiregular';
src:url('../data/fonts/khaki-one-webfont.eot?#iefix') format('embedded-opentype'),
	url('../data/fonts/khaki-one-webfont.woff') format('woff'),
	url('../data/fonts/khaki-one-webfont.ttf') format('truetype'),
	url('../data/fonts/khaki-one-webfont.svg#khakiregular') format('svg');
}
article, aside, details, figcaption, figure, figcaption, footer, header, menu,
nav, section, video {display:block;}
h2, h3, h4, h5, h6 {font-family:'khakiregular';}
img {vertical-align:middle;}

/******************
Skipto's**/
#top-link a {
display:none;
position:fixed;
z-index:9999;
right:0;bottom:0;
font-size:1em;
padding:14px;
background:$base-black;
border-top-left-radius:10px;
}

.skip a {
@include hide;

	&:focus, &:active {
	@include opacity(0.8);
	width:100%;
	top:0;left:0;
	z-index:99;
	text-align:center;
	font-size:0.8em;
	padding:6px 0;
	outline:none;
	}
}
/******************
Logo Area**/
#header {
width:100%;
background-color:#eee;

	img {float:left;}
	h1 {@include hide;}
}

/******************
Quick Links**/
.quick-links {
float:right;
width:400px;
text-align:right;

	p {
	font-size:1.1em;
	line-height:1.2em;

		a.tel {font-size:1.4em;}
	}

	.social {

		a {
		@include opacity(0.8);
		display:inline-block;
		width:40px;height:40px;
		margin:0 0 0;
		background:url(../img/icon-social.png) no-repeat;
		@include transition(opacity, 0.4s, ease-in-out);

			&.sc-fb {background-position:left;width:50px;}
			&.sc-tw {background-position:right;}
			&:hover {@include opacity(1);}
			span {@include hide;}
		}
	}

	a:link, a:visited {color:$base-grey;}
	a:hover, a:active, a:focus {color:$base-black;}
}

/******************
Navigation**/
#nav {
width:100%;
background:$base-grey;

	ul {

		li {
		z-index:999;
		float:left;
		position:relative;
		list-style:none;
		text-align:center;
		font-size:1.05em;

			a {
			float:left;
			color:#000;
			padding:14px 30px;
			text-decoration:none;
			border-right:1px solid lighten($base-grey, 10%);
			}
		}
	}
	ul li > a:hover, ul li.selected > a,
	ul li a:active, ul li a:focus,
	ul li:hover {
	color:#fff;
	background-color:darken($base-red, 10%);
	}
	ul li.selected > a:hover {color:#fff;}

	/*drop-downs*/
	ul li ul {
	display:none;
	z-index:99;
	position:absolute;
	top:100%;left:0;
	@include vert-gradient (lighten($base-black,20%), $base-black);
	border-top:3px solid darken($base-red, 10%);
	}
	ul li:hover ul {display:block;}
	ul li ul li {
	text-align:left;
	font-size:1em;
	letter-spacing:normal;
	}
	ul li ul li a {
	min-width:200px;
	color:#fff;
	padding:10px 30px;
	border:0;
	}

	/*RESPONSIVE BUTTONs*/
	#pull {
	display:none;
	cursor:pointer;
	position:relative;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:1.1em;
	text-decoration:none;
	padding:10px 0;
	background:$base-black url(../img/icon-nav.png) 94% 50% no-repeat;

		&.clozed {background-image:url(../img/icon-nav-closed.png);}
	}
	.mobnav-subarrow {
	display:none;
	position:absolute;
	top:0px;right:0px;
	cursor:pointer;
	height:40px;width:40px;
	background:$base-black url(../img/icon-nav.png) 50% 50% no-repeat;

		&.clozed {background-image:url(../img/icon-nav-closed.png);}
	}
}

/******************
Main Content**/
#main-content_holder {color:darken($base-grey, 20%);}
.split-col .main-content {width:620px;}
.split-col #aside {width:240px;}

.main-content {
float:left;
width:1240px;
padding:20px;

	h2 {
	color:$base-red;
	font-size:1.7em;
	margin:$bottom-break;

		span {color:#600;}
	}
	h3, h4, h5, h6 {
	font-size:1.4em;
	margin:30px 0 14px;
	}
	p {
	font-size:0.9em;
	line-height:1.5em;
	margin:$bottom-break;

		&.intro {
		font-size:1.1em;
		line-height:1.3em;
		}
	}
	ul, ol, dl {
	margin:$bottom-break;

		li {
		list-style:disc;
		font-size:0.9em;
		line-height:1.5em;
		margin:0 0 0 20px;
		}
	}
	ol li {
	list-style:decimal;
	margin:0 0 0 30px;
	}
	dl {
		dt {
		font-size:0.9em;
		font-weight:bold;
		margin:10px 0 0;
		}
		dd {
		list-style:disc;
		font-size:0.9em;
		line-height:1.5em;
		margin:0 0 0 20px;
		}
	}
	img {
	float:right;
	margin:0 0 20px 20px;padding:4px;
	background:#fff;
	border:1px solid $base-grey;

		&.basic {
		float:none;
		margin:20px 0;
		}
	}
	a:link, a:visited {
	text-decoration:none;
	border-bottom:1px solid $base-red;
	}
	a:hover {
	padding-bottom:1px;
	border-bottom:0;
	}
	a:active, a:focus {}

	/*tables*/
	table {
	width:100%;
	margin:20px 0;
	border-collapse:collapse;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;

		td, th {
		vertical-align:top;
		min-width:100px;
		font-size:0.9em;
		padding:10px;
		border-right:1px solid #ccc;
		border-bottom:1px solid #ccc;
		}
		th {
		color:#fff;
		font-size:1em;
		background:$base-red;
		}
		td {
			h3 {margin:0;}
			p {
			font-size:1em;
			margin:0;
			}
			img {
			float:none;
			margin:0;padding:0;
			}
		}
	}

	/*labelled imgs*/
	.figure {
	float:right;
	width:300px;
	margin:0 0 24px 24px;

		figcaption {
		float:right;
		clear:both;/*IE Needs me*/
		width:300px;/*IE Needs me*/
		text-align:right;
		color:$base-red;
		font-size:0.8em;
		font-style:normal;
		margin:4px;
		}
		img {
		width:300px;
		margin:0;
		}
	}
}

/******************
Buttons**/
.btn a {
float:left;
font-size:1em;
text-align:center;
padding:4px 16px 8px;margin:10px 0;
@include vert-gradient (lighten($base-red,10%), $base-red);
border-radius:4px;
box-shadow:2px 2px 6px rgba(0,0,0,0.3);

	&:link, &:visited {
	color:#fff;
	border:0;/*ovr*/
	}
	&:hover {
	background:lighten($base-red, 10%);
	box-shadow:none;
	padding-bottom:8px;/*ovr*/
	}
	&:active, &:focus {@include vert-gradient (darken($base-red,10%), $base-red);}
}

/******************
Contact Form**/
#contact-form, .wpcf7 {
	legend {
	color:#bbb;
	font-size:1.2em;
	text-transform:uppercase;
	}
	fieldset {
	position:relative;
	padding:20px;margin:0 0 20px;
	border:1px solid #ccc;
	}
	p {
	clear:left;
	margin:26px 0;
	}
	ul#agent {
	display:none;
	clear:left;
	}
	ul li {
	display:block;
	float:left;
	clear:left;
	font-size:1.15em;
	margin:$bottom-break;padding-left:0;
	}
	label {
	float:left;
	display:block;
	width:200px;
	cursor:pointer;
	text-align:right;
	line-height:1.3em;
	padding:4px 20px 0 0;
	}
	label:after {content:":";}
	li.checky label:after {content:none;}
	li.checky label {
	width:178px;
	margin:$bottom-break;
	}
	input {border:1px solid $base-grey;}
	input[type="text"], input[type="tel"],	input[type="email"], input[type="url"], input[type="file"] {
	width:300px;
	font-size:0.9em;
	padding:4px;
	}
	input:focus, textarea:focus {
	background:#fff;
	border-color:#8cc541;
	}
	input[type="submit"] {
	cursor:pointer;
	width:auto;
	color:#fff;
	font-size:0.9em;
	padding:8px 14px;margin-left:220px;
	background-color:darken($base-red, 10%);
	border:0;
	}
	input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {background-color:lighten($base-red, 10%);}
	input[type="checkbox"], input[type="radio"] {
	width:16px;height:16px;
	padding:0;margin:0 14px 0 2px;
	vertical-align:middle;
	border:0;/*for IE*/
	}
	select {
	width:310px;
	font-size:0.9em;
	padding:4px;
	border:1px solid $base-grey;
	}
	textarea {
	resize:vertical;
	font-family:helvetica,arial,sans-serif;
	width:300px;height:120px;
	font-size:1em;
	padding:4px;
	border:1px solid $base-grey;
	}
	.options label {
	clear:left;
	width:280px;
	text-align:left;
	padding:0;margin-left:220px;
	}
	.options label.intro {
	width:510px;
	text-align:left;
	padding:4px 20px 0 0;margin-left:0;margin-bottom:10px;
	}
	.options input[type="checkbox"], .options input[type="radio"] {margin:-4px 0 0 4px;}

	/**validation**/
	span.LV_valid {color:#47bf4c;}
	span.LV_invalid {color:#d6492a;}
	span.LV_validation_message {
	width:90px;
	font-size:0.8em;
	font-weight:bold;
	padding:6px 5px 0;
	}
	.LV_invalid_field {border:1px solid #d6492a;}
}

/******************
Aside**/
#aside {
float:right;
padding:20px;
background:#ada;
}

/******************
Footer**/
#footer {
float:left;
position:relative;
width:100%;
@include text-shadow;
background:#666;

	p {
	text-align:left;
	color:#ccc;
	font-size:0.9em;
	}
	ul {
	margin:10px 0;

		li {
		float:left;
		list-style:none;
		font-size:0.9em;
		padding:0 0 0 6px;margin:0 6px 0 0;
		border-left:1px solid #ccc;

			&:first-child {
			padding:0;border:0;
			}
		}
	}

	a:link, a:visited {color:$base-grey;}
	a:hover, a:active, a:focus {}

	a#credit {
	position:absolute;
	top:20px;right:0;
	float:left;
	overflow:hidden;
	width:160px;height:28px;
	background:#000;

		span {@include hide;}
	}
}

/******************
Global Styles**/
.line {
clear:both;
height:1px;
font-size:0;
margin:30px 0;
border-bottom:1px solid #ccc;
}
.clearing {clear:both;}
.error {color:#f00;}
.win {color:#090;}
.hide {@include hide;}
.remove {margin:0;padding:0;border:0;}
.tiny {font-size:0.7em;}

strong {font-weight:bold;}
em {font-style:italic;}
q {
font-style:italic;
display:block;
}
address {font-style:normal;}
acronym, abbr {
cursor:help;
border-bottom:1px dotted #000;
}

/******************
Media**/
iframe, video {
margin:20px 0;
border:1px solid #888;
}
.embed-container {
position:relative;
overflow:hidden;
width:728px;height:410px;
max-width:100%;
margin:30px 0;

	iframe, object, embed {
	position:absolute;
	top:0;left:0;
	width:100%;height:100%;
	margin:0;border:0;
	}
}

/******************
Blockquotes**/
blockquote {
font-size:1.4em;
quotes:"\201C""\201D""\2018""\2019";
margin:20px 0;padding:20px 10px 0;
background:#f9f9f9;
border-left:10px solid #ccc;

	&:before, &:after {
	content:open-quote;
	font-size:4em;
	color:#666;
	line-height:0.1em;
	vertical-align:-0.4em;
	}
	&:before {margin-right:4px;}
	&:after {
	content:close-quote;
	vertical-align:-0.6em;
	margin-left:4px;
	}
	footer {
	clear:left;
	font-size:0.75em;
	}
	p, footer {display:inline;}
}

/******************
Links + slectors**/
a:link, a:visited {
color:$base-red;
text-decoration:underline;
}
a:hover {text-decoration:none;}
a:active, a:focus {
/*outline:none;*/
color:#000;
background-color:$focus-bg;
text-decoration:underline;
}
a.pdf {padding-right:14px;background:url(../img/icon-pdf.gif) no-repeat 100% 50%;}
a.ext {padding-right:14px;background:url(../img/icon-ext.png) no-repeat 100% 2px;}

a[href$=".pdf"]:after {content:"(PDF document)";}

::selection {background:$focus-bg;color:#000;}
::-moz-selection {background:$focus-bg;color:#000;}

input[type="text"]:disabled {background:#ccc;}
input:checked {border:1px solid #090;}

/******************
Clearfix**/
.clearfix:after {
visibility:hidden;
display:block;
clear:both;
content:".";
font-size:0;
height:0;
}
* html .clearfix {zoom:1;}/*IE6*/
*:first-child+html .clearfix {zoom:1;}/*IE7*/
