/**********************************
Description...:screen sass
Author........:lewis@fointypinger.co.uk
Last Changed..:12-06-2014
Notes #1......:
*********************************/
/******************
Layout**/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: helvetica,arial,sans-serif;
  font-size: 100%;
  text-align: center;
  cursor: default;
  background: #060;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  text-align: left;
  background: #eee;
}

.cont-header, .cont-footer {
  width: 920px;
  padding: 30px 20px;
  background: none;
}

@font-face {
  font-family: 'khakiregular';
  src: url("../data/fonts/khaki-one-webfont.eot");
  src: url("../data/fonts/khaki-one-webfont.eot?#iefix") format("embedded-opentype"), url("../data/fonts/khaki-one-webfont.woff") format("woff"), url("../data/fonts/khaki-one-webfont.ttf") format("truetype"), url("../data/fonts/khaki-one-webfont.svg#khakiregular") format("svg");
}
article, aside, details, figcaption, figure, figcaption, footer, header, menu, nav, section, video {
  display: block;
}

img {
  vertical-align: middle;
}

/******************
Skipto**/
.skip a {
  position: absolute;
  left: -9999px;
}

.skip a:focus, .skip a:active {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-align: center;
  font-size: 0.8em;
  padding: 6px 0;
  outline: none;
}

/******************
Logo Area**/
#header {
  width: 100%;
  background-color: #333333;
  background: -webkit-linear-gradient(left, #222222 0%, #333333 100%);
  background: linear-gradient(to right, #222222 0%, #333333 100%);
}

#header img {
  float: left;
}

#header h1 {
  position: absolute;
  left: -9999px;
}

/******************
Quick Links**/
.quick-links {
  float: right;
  width: 500px;
  text-align: right;
  color: #fff;
  margin: 10px 0 0;
}

.quick-links p {
  font-size: 1.1em;
  line-height: 1.2em;
}

.quick-links p span.tel {
  font-size: 1.4em;
}

.quick-links a:link, .quick-links a:visited {
  color: #999;
}

.quick-links a:active, .quick-links a:focus {
  color: #000;
}

/******************
Navigation**/
#nav {
  float: left;
  width: 100%;
  font-family: 'khakiregular';
  margin: 20px 0;
  background: #555;
}

#nav ul li {
  display: inline;
  list-style: none;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#nav ul li span {
  font-weight: bold;
}

#nav ul li a {
  float: left;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px 0 0;
  text-align: center;
  background-color: #333;
}

#nav ul li.selected a {
  background-color: #999;
}

#nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #060;
}

#nav li a:active, #nav li a:focus {
  color: #000;
  background-color: yellow;
}

/*RESPONSIVE BUTTON*/
#nav a#pull {
  display: none;
  position: relative;
  width: auto;
  color: #600;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 8px 4%;
  background: #cc0000 url(../img/icon-nav.png) 97% 50% no-repeat;
}

/******************
Slideshow (HOME)**/
#flashcontent {
  float: left;
  position: relative;
  width: 100%;
  background: #999;
}

#flashcontent img {
  float: left;
}

/*BANNER**/
.containerz {
  clear: left;
  margin: 0 auto;
}

#slides {
  display: none;
}

.slidesjs-pagination {
  float: left;
  position: relative;
  z-index: 99;
  margin: -30px 0 0 46%;
}

.slidesjs-pagination li {
  float: left;
  list-style: none;
  margin: 0 10px 0 0;
}

.slidesjs-pagination li a {
  float: left;
  overflow: hidden;
  display: block;
  width: 14px;
  height: 0;
  padding-top: 14px;
  background: rgba(0, 0, 0, 0.25);
}

.slidesjs-pagination li a.active, .slidesjs-pagination li a.active:hover {
  background: rgba(0, 0, 0, 0.5);
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
}

.slidesjs-pagination li a:active, .slidesjs-pagination li a:focus {
  background-color: yellow;
}

.slidesjs-pagination .active {
  background: green;
}

/******************
Main Content**/
.main-content {
  float: left;
  color: #999;
  padding: 20px;
}

.main-content h2 {
  font-size: 1.7em;
  color: #060;
  margin: 0 0 14px;
}

.main-content h2 span {
  color: #600;
}

.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-size: 1.4em;
  margin: 30px 0 14px;
}

.main-content p {
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 0 14px;
}

.main-content p.intro {
  font-size: 1.1em;
  line-height: 1.3em;
}

.main-content ul, .main-content ol, .main-content dl {
  margin: 0 0 14px;
}

.main-content ul li, .main-content ol li, .main-content dl dd {
  list-style: disc;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 0 0 20px;
}

.main-content ol li {
  list-style: decimal;
  margin: 0 0 0 30px;
}

.main-content dl dt {
  font-size: 0.9em;
  font-weight: bold;
  margin: 10px 0 0;
}

.main-content img {
  float: right;
  margin: 0 0 20px 20px;
  padding: 4px;
  background: #fff;
  border: 1px solid #999;
}

.main-content a:link, .main-content a:visited {
  text-decoration: none;
  border-bottom: 1px solid #060;
}

.main-content a:hover {
  border-bottom: 0;
  padding-bottom: 1px;
}

.main-content a:active, .main-content a:focus {
  color: #000;
}

/*table code*/
.main-content table {
  width: 100%;
  margin: 20px 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.main-content td, .main-content th {
  min-width: 100px;
  font-size: 0.9em;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main-content th {
  font-size: 1em;
  color: #fff;
  background: #900;
}

.main-content td h3 {
  margin: 0;
}

.main-content td p {
  font-size: 1em;
  margin: 0;
}

.main-content td img {
  float: none;
  margin: 0;
  padding: 0;
}

/******************
Labelled Images**/
.main-content .figure {
  float: right;
  width: 300px;
  margin: 0 0 24px 24px;
}

.main-content .figure figcaption {
  float: right;
  clear: both;
  /*IE Needs me*/
  width: 300px;
  /*IE Needs me*/
  text-align: right;
  font-size: 0.8em;
  font-style: normal;
  color: #060;
  margin: 4px;
}

.main-content .figure img {
  width: 300px;
  margin: 0;
}

/******************
Contact Form**/
#contact-form fieldset {
  position: relative;
  padding: 20px;
  margin: 0 0 20px;
  border: 1px solid #ccc;
}

#contact-form ul li {
  display: block;
  float: left;
  clear: left;
  font-size: 0.85em;
  margin: 0 0 10px;
  padding-left: 0;
}

#contact-form label {
  cursor: pointer;
  float: left;
  display: block;
  width: 200px;
}

#contact-form label:after {
  content: ":";
}

#contact-form li.checky label:after {
  content: none;
}

#contact-form li.checky label {
  width: 178px;
  margin: 0 0 12px;
}

#contact-form input {
  width: 300px;
  font-size: 1em;
  padding: 4px;
  border: 1px solid #999;
  border-radius: 4px;
}

#contact-form input:focus, #contact-form textarea:focus {
  border-color: #8cc541;
  background: #fff;
}

#contact-form input[type="submit"] {
  width: auto;
  cursor: pointer;
  color: #fff;
  border: 0;
  background: #454377;
}

#contact-form input[type="submit"]:hover {
  background: #78769c;
}

#contact-form li.checky input {
  float: left;
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
  padding: 0;
  border: 0;
  /*for IE*/
}

#contact-form select {
  font-size: 1em;
  width: 244px;
  padding: 4px;
  border: 1px solid #cfcfcf;
}

#contact-form textarea {
  font-family: helvetica,arial,sans-serif;
  font-size: 1em;
  width: 300px;
  height: 120px;
  padding: 4px;
  border: 1px solid #999;
  border-radius: 4px;
}

#contact-form textarea.big {
  width: 402px;
  height: 80px;
  margin: 10px 0;
}

/******************
Footer**/
#footer {
  float: left;
  position: relative;
  width: 100%;
  background: #666;
}

#footer p {
  color: #ccc;
  text-align: left;
  font-size: 0.9em;
}

#footer ul {
  margin: 10px 0;
}

#footer ul li {
  float: left;
  list-style: none;
  font-size: 0.9em;
  padding: 0 0 0 6px;
  margin: 0 6px 0 0;
  border-left: 1px solid #ccc;
}

#footer ul li:first-child {
  border: 0;
}

#footer a:link, #footer a:visited {
  color: #999;
}

#footer a:active, #footer a:focus {
  color: #000;
}

a#credit {
  position: absolute;
  top: 20px;
  right: 0;
  float: left;
  overflow: hidden;
  width: 160px;
  height: 28px;
  background: #000;
}

a#credit span {
  position: absolute;
  left: -9999px;
}

/******************
Global Styles**/
.line {
  clear: both;
  height: 1px;
  font-size: 0;
  margin: 30px 0;
  border-bottom: 1px solid #ccc;
}

.clearing {
  clear: both;
}

.error {
  color: #f00;
}

.win {
  color: #090;
}

.hide {
  position: absolute;
  left: -9999px;
}

.remove {
  margin: 0;
  padding: 0;
  border: 0;
}

.tiny {
  font-size: 0.7em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

address {
  font-style: normal;
}

acronym, abbr {
  cursor: help;
  border-bottom: 1px dotted #000;
}

iframe {
  margin: 10px 0;
  border: 1px solid #ccc;
}

blockquote {
  font-size: 1.4em;
  quotes: "\201C" "\201D" "\2018" "\2019";
  margin: 20px 0;
  padding: 20px 10px 0;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
}

blockquote:before, blockquote:after {
  content: open-quote;
  font-size: 4em;
  color: #666;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote:before {
  margin-right: 4px;
}

blockquote:after {
  content: close-quote;
  vertical-align: -0.6em;
  margin-left: 4px;
}

blockquote p {
  display: inline;
}

q {
  font-style: italic;
  display: block;
}

video {
  margin: 20px 0;
  border: 1px solid #ddd;
}

/******************
Links + slectors**/
a:link, a:visited {
  color: #ed1c24;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active, a:focus {
  /*outline:none;*/
  color: #000;
  background-color: yellow;
  text-decoration: underline;
}

a.pdf {
  padding-right: 14px;
  background: url(../img/icon-pdf.gif) no-repeat 100% 50%;
}

a.ext {
  padding-right: 14px;
  background: url(../img/icon-ext.png) no-repeat 100% 2px;
}

a[href$=".pdf"]:after {
  content: "(PDF document)";
}

::selection {
  background: #619080;
  color: #fff;
}

::-moz-selection {
  background: #619080;
  color: #fff;
}

input[type="text"]:disabled {
  background: #ccc;
}

input:checked {
  border: 1px solid #090;
}

/******************
Clearfix**/
.clearfix:after {
  visibility: hidden;
  display: block;
  clear: both;
  content: ".";
  font-size: 0;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/*IE6*/
*:first-child + html .clearfix {
  zoom: 1;
}

/*IE7*/
