/**********************************
Description...:CSS condition file for IE6-
Last Changed..:04-04-2011
Notes #1......:Fixes for IE6 quirks
**********************************/
body {behavior:url("./css/csshover.htc");}
.clearfix {display:inline-block;}
div {display:inline;}

.minheight {min-height:250px;height:auto !important;height:250px;}