/**********************************
Description...: screen sass
Author........: hello@satur9.co.uk
Last Changed..: #{timestamp()} - v1.0
Notes #1......:
*********************************/

/******************
Settings **/
@import "_settings/variables.scss";
@import "_settings/mixins.scss";
@import "_settings/fonts.scss";

/******************
Layout**/
* {padding:0;margin:0;border:0;}
//* + * {margin-top:1.5rem;}

body {
font-family:helvetica,arial,sans-serif;
font-size:100%;
//line-height:1.5;
text-align:center;
cursor:default;
scroll-behavior:smooth;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}
.container {
position:relative;
width:1280px;
margin:0 auto;
text-align:left;
background-color:rgba(0,0,0,0.1);
}

article, aside, details, figcaption, figure, figcaption, footer, header, menu,
nav, section, video {display:block;}
h2, h3, h4, h5, h6 {font-family:'khakiregular';}
img {vertical-align:middle;}
svg {border:1px solid red;}
	/*make svg <img>s fluid in IE */
	img.svg, object.svg {width:100%;}

/******************
Skipto's**/
#top-link a {
display:none;
position:fixed;
z-index:9999;
right:0;bottom:0;
font-size:1em;
padding:14px;
background-color:$base-black;
border-top-left-radius:10px;
}

.skip a {
@include hide;

	&:focus, &:active {
	@include opacity(0.8);
	width:100%;
	top:0;left:0;
	z-index:99;
	text-align:center;
	font-size:0.8em;
	padding:6px 0;
	outline:none;
	}
}

/******************
Logo Area **/
@import "_partials/header.scss";

/******************
Navigation **/
@import "_partials/navigation.scss";








/******************
Main Content**/
#main-content_holder {color:darken($base-grey, 20%);}
.split-col .main-content {width:620px;}
.split-col #aside {width:240px;}

.main-content {
float:left;
width:1240px;
padding:20px;

	h2 {
	color:$base-red;
	font-size:1.7em;
	margin:$bottom-break;

		span {color:#600;}
	}
	h3, h4, h5, h6 {
	font-size:1.4em;
	margin:30px 0 14px;
	}
	p {
	font-size:0.9em;
	line-height:1.5em;
	margin:$bottom-break;

		&.intro {
		font-size:1.1em;
		line-height:1.3em;
		}
	}
	ul, ol, dl {
	margin:$bottom-break;

		li {
		list-style:disc;
		font-size:0.9em;
		line-height:1.5em;
		margin:0 0 0 20px;
		}
	}
	ol li {
	list-style:decimal;
	margin:0 0 0 30px;
	}
	dl {
		dt {
		font-size:0.9em;
		font-weight:700;
		margin:10px 0 0;
		}
		dd {
		list-style:disc;
		font-size:0.9em;
		line-height:1.5em;
		margin:0 0 0 20px;
		}
	}
	img {
	float:right;
	margin:0 0 20px 20px;padding:4px;
	background-color:#fff;
	border:1px solid $base-grey;

		&.basic, &.alignnone {
		float:none;
		margin:20px 0;
		}
		&.alignleft {
		float:left;
		margin:0 20px 20px 0;
		}
		&.skew {
		clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
		}
	}
	a:link, a:visited {
	text-decoration:none;
	text-decoration:underline dashed lighten($base-black, 15%);
	//border-bottom:1px solid $base-red;
	}
	a:hover {
	//padding-bottom:1px;
	//border-bottom:0;
	}
	a:active, a:focus {}

	/*tables*/
	table {
	//table-layout:fixed; equal-width cells?
	width:100%;
	margin:20px 0;
	border-collapse:collapse;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;

		td, th {
		vertical-align:top;
		min-width:100px;
		font-size:0.9em;
		padding:10px;
		border-right:1px solid #ccc;
		border-bottom:1px solid #ccc;
		}
		th {
		color:#fff;
		font-size:1em;
		background-color:$base-red;
		}
		td {
			h3 {margin:0;}
			p {
			font-size:1em;
			margin:0;
			}
			img {
			float:none;
			margin:0;padding:0;
			}
		}
	}

	/*labelled imgs*/
	.figure {
	float:right;
	width:300px;
	margin:0 0 24px 24px;padding:20px;
	background-color:#41ade5;
 	@include angle(both);

		figcaption {
		float:right;
		clear:both;/*IE Needs me*/
		width:300px;/*IE Needs me*/
		text-align:right;
		color:$base-red;
		font-size:0.8em;
		font-style:normal;
		margin:4px;
		}
		img {
		width:300px;
		margin:0;
		}
	}
}

/******************
SVGs**/
.icon-svg {
overflow:hidden;
width:1em;height:1em;
vertical-align:-0.15em;
fill:pink;
stroke:coral;
stroke-width:5%;
stroke-linejoin:round;
}
.svg-icon-01 {
fill:green;
}

.ic-2 {fill:#FDC646;}
svg path {
fill:inherit;
//all: inherit;
}

.codrops-1 {
  fill: #4BC0A5;
  color: #A4DFD1;
}
.codrops-2 {
  fill: #0099CC;
  color: #7FCBE5;
}
.codrops-3 {
  fill: #5F5EC0;
  color: #AEAFDD;
}


/******************
Buttons **/
@import "_partials/buttons.scss";

/******************
Web Form **/
@import "_partials/webform.scss";



/******************
Aside**/
#aside {
float:right;
padding:20px;
background-color:#ada;
}

/******************
Footer **/
@import "_partials/footer.scss";

/******************
Global Styles**/
.line, hr {
clear:both;
height:1px;
font-size:0;
margin:30px 0;
border-bottom:1px solid $base-grey;
}
.clearing {clear:both;}
.error {color:#f00;}
.win {color:#090;}
.hide {@include hide;}
.remove {margin:0;padding:0;border:0;}
.tiny {font-size:0.7em;}
.no-function {pointer-events:none;}
.webkit-blurry-fix {box-shadow:0 0 1px transparent;}
.nice-scrolly-area {
overflow-y:scroll;
-webkit-overflow-scrolling:touch;
}

strong {font-weight:700;}
em {font-style:italic;}
q {
font-style:italic;
display:block;
}
address {font-style:normal;}
acronym, abbr {
cursor:help;
border-bottom:1px dotted #000;
}

/******************
Media**/
iframe, video {
margin:20px 0;
border:1px solid #888;
}
.embed-container {
position:relative;
overflow:hidden;
width:728px;height:410px;
max-width:100%;
margin:30px 0;

	iframe, object, embed, video {
	position:absolute;
	top:0;left:0;
	width:100%;height:100%;
	margin:0;border:0;
	}
}
audio {
width:100%;
margin:20px 0;
}

/******************
Blockquotes**/
blockquote {
font-size:1.4em;
quotes:"\201C""\201D""\2018""\2019";
margin:20px 0;padding:20px 10px 0;
background-color:#f9f9f9;
border-left:10px solid #ccc;

	&:before, &:after {
	content:open-quote;
	font-size:4em;
	color:#696;
	line-height:0.1em;
	vertical-align:-0.4em;
	}
	&:before {margin-right:4px;}
	&:after {
	content:close-quote;
	vertical-align:-0.6em;
	margin-left:4px;
	}
	footer {
	clear:left;
	font-size:0.75em;
	}
	p, footer {display:inline;}
}

/******************
Links + slectors**/
a:link, a:visited {
color:$base-red;
text-decoration:underline;
}
a:hover {text-decoration:none;}
a:active, a:focus {
/*outline:none;*/
color:#000;
background-color:$focus-bg;
text-decoration:underline;
}

//removes outline for mouse users, preserves it for keyboard.
:focus:not(:focus-visible) {outline:none;}

a.pdf {padding-right:14px;background:url(../img/icon-pdf.gif) no-repeat 100% 50%;}
a.ext {padding-right:14px;background:url(../img/icon-ext.png) no-repeat 100% 2px;}

a[href$=".pdf"]:after {content:"(PDF document)";}

::selection {background-color:$focus-bg;color:#000;}
::-moz-selection {background-color:$focus-bg;color:#000;}

input[type="text"]:disabled {background-color:#ccc;}
input:checked {border:1px solid #090;}

//aria fallbacks for non-loading icons
.no-svg .icon-only:after {
content:attr(aria-label);
}

button {font-size:1.25em;}
button:only-of-type {font-size:2em;} //bigger if in section of its own
button:not(:only-of-type) {font-size:2em;} //bigger if more than one in section
button:nth-last-child(6) {} // the 6th last element
button:nth-last-child(6):first-child {} // the first of 6 elements. works only with 6 elements
button:nth-last-child(6):first-child,
button:nth-last-child(6):first-child ~ button {} // all elements from a specified set (6)
button:nth-child(n+6) {} // all elements from 6th upwards

/******************
Crazy bg effts**/
.svg-img {background-image:image('foo.svg#xywh=0,0,200,50');}
.gradient-img {background-image:conic-gradient(#f00,#0f0,#00f);}

/******************
Clearfix**/
.clearfix:after {
visibility:hidden;
display:block;
clear:both;
content:".";
font-size:0;
height:0;
}
* html .clearfix {zoom:1;}/*IE6*/
*:first-child+html .clearfix {zoom:1;}/*IE7*/

/******************
Page Specifics **/
@import "_pages/home.scss";

/******************
Colour Scheming **/
//@import "_functions/theming.scss";

/******************
JavaScript Events **/
@import "_functions/funcs.scss";

/******************
Fallbacks**/
@supports not (display:grid) {
	body {
	background-color:green;
	}
}
