/**********************************
Description...:HOME THEME
Last Changed..:24-09-2014
Notes #1......:
**********************************/

@import "variables.scss";
@import "mixins.scss";

/******************
Slideshow**/
.banner-hero {
border-bottom:1px solid $base-black;

	img {min-width:auto;margin:0;}
}
.variable-width {margin:50px 60px;}

/******************
Intro Blocks**/
.intro-block {
float:left;
width:246px;
min-height:210px;
margin:10px 30px 40px 0;padding:20px;
background-color:lighten($base-grey, 20%);

	&:hover {background-color:lighten($base-grey, 10%);}
	&:last-child {
	width:248px;
	margin-right:0;
	}
	h3 {
	min-height:54px;
	margin:$bottom-break;
	}
	img {
	float:none;
	max-width:100%;
	margin:0 0 10px;padding:0;
	border:0;
	background-size:100% 100%;
	}
}
