/**********************************
Description...: MOBILE THEME
Last Changed..: 31-07-2018
Notes #1......:
/******************/

@import "_settings/variables.scss";
@import "_settings/mixins.scss";
@import "_settings/fonts.scss";

@media screen and (max-device-width:1380px), screen and (max-width:1380px) {
	/*SUPER SIZE MONITOR, + 100px for margin on the sides*/
	body {-webkit-text-size-adjust:none;-ms-text-size-adjust:100%;}
	video {width:100%;}
	.container, .cont-header, .cont-nav, .cont-footer {width:auto;}
	.container {margin:0 50px;background-color:rgba(200,0,0,0.1);}

	.main-content {width:100%;@include border-box;}

	/*homepage*/
	.intro-block {width:33.333%;margin:10px 0 40px;@include border-box;}
	.intro-block:last-child {width:33.333%;}
	.intro-block img {width:100%;}
}

@media screen and (max-device-width:960px), screen and (max-width:960px) {
	/*TABLET*/
	.container {margin:0 auto;}
	.cont-header, .cont-nav, .cont-footer {padding:30px 20px;}

	#nav ul li {z-index:inherit;width:33.333%;}
	#nav ul li a {width:100%;padding:14px 0;@include border-box;}
	#nav ul li ul {z-index:999999;width:100%;border-top:0;}
	#nav ul li ul li {width:100%;}

	.embed-container {width:auto;height:auto;padding-bottom:56.25%;}
}

@media screen and (max-device-width:640px), screen and (max-width:640px) {
	/*SMARTPHONE*/
	//touch-action:manipulation;//removes 300 mil touch delay?

	#header .cont-header {
	-webkit-flex-direction:column;
	flex-direction:column;
	}
	.quick-links {
	text-align:center;
	margin-top:20px;
	}

	#nav #pull {display:block;}
	#nav ul {display:none;}
	#nav ul li {width:50%;}
	#nav ul li ul {display:none !important;}
	#nav ul li:hover ul {display:block !important;}

	#nav #navslide {
    display:block;
    z-index:99999;
    position:fixed;//sticky??
    top:0;left:0;
    width:44px;height:44px;
    background:url(../img/icon-nav.png);
    }
    #nav .nav {
	display:block;
    z-index:9999;
    position:fixed;//sticky??
    top:0;left:-274px;
    width:318px;height:495px;
	background:green;
    }

	/*contact*/
	#contact-form {
		ul li {width:100%;}
		table.refactor {
		display:block;

			th, td, tr {display:block;}
			th {display:none;}
		}
		input::placeholder, textarea::placeholder {opacity:1;}

		/*not used*/
	    .table-scroll {width:100%;overflow-x:auto;overflow-y:hidden;}
	}
}

@media screen and (max-device-width:500px), screen and (max-width:500px) {
	//#header img {position:absolute;top:20px;left:50%;margin:0 0 0 -130px;}
	//.quick-links {width:100%;text-align:center;margin:80px 0 0;}

	.main-content img {float:none;max-width:100%;height:auto;margin:20px 0;@include border-box;
	object-fit:cover;object-position:100% 0; // art direction scaling. no IE support!
	//height:auto;
	}

	.main-content .figure {float:none;width:100%;margin:20px 0 40px;@include border-box;}
	.main-content .figure figcaption {width:auto;}
	.main-content .figure img {width:100%;}

	table.refactor {
	display:block;

		table, thead, tbody, th, td, tr {display:block;}
	}

	.table-scroll {width:100%;overflow-x:auto;overflow-y:hidden;}

}

@media screen and (max-device-width:380px), screen and (max-width:380px) {
	/*MOBILE*/

	#nav ul li {width:100%;}
	#nav ul li a {border:0;}
	#nav ul li ul {display:none !important;position:static;float:left;}
	#nav ul li:hover ul {display:none !important;}
	#nav .mobnav-subarrow {display:block;}
	#nav ul li.xpopdrop ul {display:block !important;}
	.xactive {}
}

/* IE only (forces a nicer mobile view for IE's?) ----------- */
@-ms-viewport {
//width:device-width;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/* Galaxy s3 (landscape) ----------- */
@media screen and (max-width: 1028px) {
/* Styles */
}

/* dpi styles ----------- */
@media screen and (resolution: 2dppx) {
/* Styles */
}
