@font-face {
font-family:'khakiregular';
src:url('../data/fonts/khaki-one-webfont.eot'); /*IE9 Compat Modes, ditch*/
src:url('../data/fonts/khaki-one-webfont.eot?#iefix') format('embedded-opentype'), /*IE6-IE8, ditch*/
	url('../data/fonts/khaki-one-webfont.woff2') format('woff2'), /*Super Modern Browsers*/
	url('../data/fonts/khaki-one-webfont.woff') format('woff'), /*Modern Browsers*/
	url('../data/fonts/khaki-one-webfont.ttf') format('truetype'), /*Safari, Android, iOS*/
	url('../data/fonts/khaki-one-webfont.svg#khakiregular') format('svg'); /*Legacy iOS, ditch*/
font-display:swap;
}
